.slider {
  /* default is width 400 and margin 10 */
	width: 400;
	margin: 10px;
}

.slider_table {
	margin: auto auto;
}

.highlight_numbers {
	font-size: 28;
	font-weight: bold;
}

.highlight_numbers_other {
	font-size: 20;
	font-style: italic;
}

/*drag and drop*/

#basket {
  height: 80px;
  width: 120px;
  /*background-color: #ccc;*/
}

.dropzone {
  /*background-color: #ccc;
  border: dashed 4px transparent;
  border-radius: 4px;*/
  margin: 10px auto 30px;
  padding: 10px;
  width: 80%;
  /*transition: background-color 0.3s;*/
}

.drop-active {
  /*border-color: #aaa;*/
}

/*target color change when draggable object is dragged into it*/
.drop-target {
  /*background-color: #29e;
  border-color: #fff;*/
  /*border-style: solid;*/
}

/*elements that are dragged*/
.drag-drop {
  display: inline-block;
  min-width: 40px;
  height: 50px;
  /*padding: 2em 0.5em;*/

  /*color: #fff;
  background-color: #29e;*/
  /*border: solid 2px #fff;*/

  -webkit-transform: translate(0px, 0px);
          transform: translate(0px, 0px);

  /*transition: background-color 0.3s;*/
}

.shadow {
  display: none;
  opacity: 0;
}

/*color change from dragged object when dropped*/
.drag-drop.can-drop {
  /*color: #000;*/
  /*background-color: #4e4;*/
}

#food_table {
  margin: 70px auto 30px;
}

.to_order {
  display: inline-block;
  margin: 50px auto 30px;
  padding: 10px;
}

#utterance {
  width: 30%;
  height: 45px;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  font-size: 25px; 
}

#daxy {
  position: absolute;
  bottom: 50px;
  right: 40px;
}