.slider {
  /* default is width 400 and margin 10 */
	width: 400;
	margin: 10px;
}

input.button {
  padding: 10px 40px 10px 40px;
  margin: 5px;
  border: 1px solid black;
  font-size: 14pt;
  font-weight: bold;
  background-color: #eee;
  cursor: pointer;
}


#player {
  margin: 15px 0 60px 0;
}

p.train-instructions {
  margin: 50px 0 0 0;
}

.slide {
  height: 700px;
}

.test-stimulus {
  font-size: 2em;
  font-weight: bold;
  font-style: italic;
}

.question {
  font-size: 1em;
  font-weight: bold;
  font-style: italic;
}

#comprehension-question {
  margin-top: 65px;
}

