.slider {
  /* default is width 400 and margin 10 */
	width: 400;
	margin: 10px;
}

.slider_table {
	margin: auto auto;
}

.highlight_numbers {
	font-size: 28;
	font-weight: bold;
}

.highlight_numbers_other {
	font-size: 20;
	font-style: italic;
}

.sprword {
	text-align: left;
	display : inline;
	visibility: hidden;
}
