/**
## General styles
This stuff can be ported from experiment to experiment.*/

/** We want the page to sit flush inside the browser window - that means no margins or padding. Also, use a nice-looking serif font. */
body {
	padding: 20;
	margin: 20;
	font-family: Palatino Linotype, Bookman Antiqua, Palatino, serif;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	width: 95%;
	height: 95%;
}

canvas {
	width: 150px;
	height: 120px;
 align: center;
}

table {
  font-size: 16px;
}

.slide {
  text-align: center;
	width: 90%;
	height: 90%;
	display: none;
	position: absolute;
	margin: 0.5%;
	margin-left: 0.5%;
	padding: 1% 2% 1% 2%;
}

input, select, button {font-family: Georgia, serif; font-size: 14px;}

button {
	background: url(button-gradient.png);
	border: 1px solid #999;
	border-top: 1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;
	margin: 10px;
	padding-left: 5px;
	padding-right: 5px;
	height: 29px;
	min-width: 70px;
}

button:active {
	border-left: 1px solid #c9c9c9;
	border-top: 1px solid #c9c9c9;
	background: none;
	background-color: #c9c9c9;
}

button[disabled] {
	background: url(zen-button.png);
	border: 1px solid #999;
	border-top: 1px solid #e0e0e0;
	border-left: 1px solid #e0e0e0;
	cursor: not-allowed;
}

/**
## Experiment-specific styles
This stuff will vary by experiment.
*/

#centered {
    text-align: center;
}

#intro {
    text-align: left;
}

#stage {
    text-align: center;
}

form {
    text-align: center;
}

.reponse {
    text-align: center;
}

#logo-text {
  font-weight: bold;
}

#instructions {
  text-align: center;
}

.block-text {
  width: 500px;
  text-align: justify;
  margin: 0 auto;
  margin-bottom: 1em;
}

.answertext {
  display: inline-block;
  float: left;
  width: 100px;
}

.leftbutton {
	display: inline-block;
	float: left;
}

.answerradio {
  display: inline-block;
  float: left;
  width: 500px;
}


#legal {
  margin: 0 auto;
  margin-top: 1.5em;
  font-size: 0.8em;
}

/* prog bar */
.progress{
    float:right;
}

.progress span{
    position:relative;
    top: -6px;
}

.bar-wrapper{
    height:20px;
    width:200px;
    border:1px solid #000000;
    display:inline-block;
}

.bar{
    position:relative;
    height:100%;
    width:0px;
    background-color:#000000
}

/* marble bowls*/
.canvasbowl {
    align: center;
    height: 120;
    width: 150;
	/*border: 1px solid LightGray;*/
}

.bowltd {
	border: 1px solid LightGray;	
}

.utttd {
	padding-bottom: 0.25em;
	padding-top: 0.25em;	
	padding-right: 0.1em;
	vertical-align: center;
}

.utterance {
	font-size: 20px;	
}

.sliderLabel {
	font-size: 12px;
}


#qudy0 { 
	width: 150px;
	height: 15px;
	position: relative;
}
               
#qudy0 .ui-slider-handle {
	height: 23px;
	width: 10px;
}

#qudy1 { 
	width: 150px;
	height: 15px;
	position: relative;
}
               
#qudy1 .ui-slider-handle {
	height: 23px;
	width: 10px;
}

#qudy2 { 
	width: 150px;
	height: 15px;
	position: relative;
}
               
#qudy2 .ui-slider-handle {
	height: 23px;
	width: 10px;
}

#qudy3 { 
	width: 150px;
	height: 15px;
	position: relative;
}
               
#qudy3 .ui-slider-handle {
	height: 23px;
	width: 10px;
}



               